<!DOCTYPE html>
<html> 
<head>
  <title>{{ ansible_os_family }} Apache Webserver</title> 
  <meta charset="utf-8">
</head>
<body>
    <h1>Site en construction</h1>
    {% if lamp_packages is defined %}
        <h2>Packages </h2>
        <ul>
        {% for item in lamp_packages %}
            <li> {{ item|title }} </li>
        {% endfor %}
        </ul>
    {% endif %}
    <p> généré par {{ ansible_distribution }} {{ ansible_distribution_version }}</p>
</body>
</html>
